<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tutorial on VS code in 100 seconds" />
    <link href="../static/css/tutorial.css" rel="stylesheet" />
    <link href="../static/css/main-page.css" rel="stylesheet" />
    <title>VS code in 100 seconds</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item" id="home-val">
          <a href="/">Valdivian</a>
        </li>
        <li class="nav_item">
          <input class="nav-searchbar" type="text" placeholder="Search" />
        </li>
        <li class="nav_item">
          <button class="search-button" id="search">Search</button>
        </li>

        <li class="nav_item log-out">
          <a class="profile-link" href="/profile">Profile</a>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="page">
      <div class="youtube-video">
        <iframe
          width="800"
          height="510"
          src="https://www.youtube.com/embed/KMxo3T_MTvY"
          title="VS Code in 100 Seconds"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="video"
        ></iframe>
      </div>
      <div class="video-content">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
          reprehenderit ducimus culpa nostrum ut quas? Doloremque, consectetur?
          Soluta illo accusamus id, rerum quisquam dolorem dolorum! Facilis
          aliquid quidem ipsum doloremque. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Veritatis corrupti tempore expedita
          praesentium iure vero reprehenderit, quibusdam enim maiores voluptas
          tempora cumque, iusto ad quod commodi repellendus at. Cupiditate,
          nesciunt.
        </p>
        <br />
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. In nulla
          excepturi consequuntur provident ipsa eum, dignissimos culpa expedita
          quas temporibus, consectetur totam deserunt eligendi cum voluptate
          omnis laboriosam modi nam. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Dolor magnam explicabo laudantium placeat,
          perferendis blanditiis rerum commodi excepturi asperiores, facere sunt
          sapiente pariatur nemo suscipit. Aut fugiat possimus qui reiciendis.
        </p>
      </div>
    </div>
  </body>
</html>
